doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title WETUBE Challenge!
  body
    header
      h1 Text to HTML!
    main
      form(method="POST" enctype="multipart/form-data")        
        input(type="file", name="text", accept=".txt")
        input(type="submit", value="convert!")
      div
        each filename in fileNameList
          a(href="/read/" + filename) #{filename.split("-")[0]}
          br
    